#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

input {
  border-radius: 25px;
  padding: 8px 16px;
  width: 50%;
}

.items {
  text-align: start;
}

.items__list li {
  margin-bottom: .5rem;
}